<app-search></app-search>
<app-tag></app-tag>
<ul>
  <li *ngFor="let food of foods">
    <a routerLink="/food/{{food.id}}">
      <img [ngSrc]="food.imageUrl" [alt]="food.name" width="1200" height="860" />
      <div class="content">
        <div class="name">
          {{food.name}}
        </div>
        <span class="favorite {{food.favorite ? '' : 'not'}}">
          ♥
        </span>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of food.origins">
              {{origin}}
            </span>
          </div>
          <div class="cook-time">
            <span>🕒</span>
            {{food.cookTime}}
          </div>
        </div>
        <div class="price">
          <span>
            {{food.price | currency: "BRL"}}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>