<header>
  <div class="container">
    <a routerLink="/" class ="logo">Food Mine</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
            <a  routerLink="/dashboard">dummyuser</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span>X</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
